include README.rst
include csvimport/__init__.py
include __init__.py
recursive-include csvimport *
recursive-include docs *
recursive-include csvimport/tests/fixtures *
recursive-include csvimport/migrations *
global-include *rst
global-include *txt
global-include *csv
global-exclude *pyc